@CHARSET "UTF-8";

.imagemCentralizada {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.divTopo {
	padding-bottom: 15px;
}

.divCabecalho {
	padding-bottom: 15px;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 95%;
}

#textoCard{
	
	color: #000000;
	padding: 0;
	margin: 0;
	font-size: 20px;
}
#tCad{
	text-align: center;
	font-size: 35px;
}

#footer{
  text-align: center;
  padding: 2px;
  color: lightgrey;
  
}
#pedido a{
	text-align: center;
	color: red;
	font-size: 40px;
	
}

#principal{
	
	background-color: #ffffff;
	color:#000000;
	
}

#titulo{
	text-align: center;
	color:#000000;
	font-size: 25px;
}

b{
	color: #d2691e;
}

#botaoSair{
	
	size: 50px;
	
}


